# 1

In [1]:
list = [1,7,-10,34,2,-8]
sum = 0
for i in list:
    sum = sum+i
print(sum)

26

# 2

In [4]:
list = [3,4,5,4,7]
value = 1
for i in list:
    value = value*i
print(value)

1680

# 3

In [9]:
list = [1,7,10,34,2,8]
maximum = max(list)
for i in list:
    if i==maximum:
      print(f" largest Number : {i} ")

 Smallest Number : 34

# 4

In [10]:
list = [51,7,10,34,2,8]
small = min(list)
for i in list:
    if i==small:
        print(f"Smallest Number : {i}" )

Smallest Number : 2

# 5

In [6]:
list = ['abc','XYZ','aba','1221','ebhsre','3243']
count = 0
for i in list:
    if len(list)>1 and i[0]==i[-1]:
        count = count+1
print(count)

4

# 6

In [12]:
list = [1,1,1,1,1,1,2,3,7,2,1,5,6,4,8,5,4]
set1 = set(list)
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8}

# 7

In [15]:
list = [34,45,6,5,4,56,7]
length = len(list)
if length > 1:
    print("list is not empty")
else:
    print("list is empty")

list is not empty

# 8

In [17]:
list = [10,22,44,23,4]
print(f"clone or copy a list:{list}")

clone or copy a list:[10, 22, 44, 23, 4]

# 9

In [20]:
n=int(input("please enter the n value:"))
x = "govardhan Find the List of Words that are Longer than n from a given List of Words"
list = []
text = x.split()
for i in text:
    if len(i)>n:
        list.append(i)
print(list)

please enter the n value:4
['govardhan', 'Words', 'Longer', 'given', 'Words']

# 10

In [25]:
list1 = [1,2,3,4,5]
list2 = [5,6,7,8,9]
for i in list1:
    for j in list2:
        if i==j:
          print("Yes this both lists have a common elements")

Yes this both lists have a common elements

# 11

In [36]:
list = ["cat","dog","elephant","fox","tiger","lion","ponda"]
list.pop(0)
list.pop(4)
list.pop(3)

print(list)

['dog', 'elephant', 'fox', 'ponda']

# 12

In [42]:
list = [7,32,81,20,25,14,23,27]
list1 = []
for i in list:
    if i%2!=0:
        list1.append(i)
print(list1)

[7, 81, 25, 23, 27]

# 13

In [44]:
from random import shuffle
list = ["Cat", "Dog", "Elephant", "Fox", "Tiger", "Lion", "Ponda"]
shuffle(list)
print(list)

['Cat', 'Fox', 'Lion', 'Dog', 'Ponda', 'Elephant', 'Tiger']

# 14

In [14]:
list = []
for i in range(1,30):
    list.append(i**2)
print(f"first 5 elements is :{list[:5]}")
print(f"last 5 elements is :{list[-5:]}")

first 5 elements is :[1, 4, 9, 16, 25]
last 5 elements is :[625, 676, 729, 784, 841]

# 15

# 16

In [37]:
str = ['T','u','t','o','r',' ','j','o','e','s']

s=''.join(str)
print(s)

Tutor joes

# 17

In [47]:
list = [20, 70, 30, 90, 10, 30, 90, 10, 80]
print("finding item is 30")
print("index number of 30 is:",list.index(30))

finding item is 30
index number of 30 is: 2

# 18

In [48]:
list = [[20,30,70],[30,90,10], [30,20], [70,90,10,80]]
list1 = []
for i in list:
    list1.append(i)
print(list1)

[[20, 30, 70], [30, 90, 10], [30, 20], [70, 90, 10, 80]]

# 19

In [6]:
list1 = [10, 20, 30, 40]
list2 = ["Cat", "Dog", "Lion", "Ponda"]

list = list1 + list2
print(list)

[10, 20, 30, 40, 'Cat', 'Dog', 'Lion', 'Ponda']

# 20

In [11]:
import random
list = ["Cat", "Dog", "Elephant", "Fox", "Tiger", "Lion", "Ponda"]
print(random.choice(list))

Lion

# 21

In [20]:
def are_circularly_identical(list1, list2):
    if len(list1) != len(list2):
        return False
    combined = list1 + list1
    for i in range(len(list1)):
        if combined[i:i+len(list1)] == list2:
            return True
    return False

list1 = [8, 8, 12, 12, 8]
list2 = [8, 8, 8, 12, 12]
list3 = [1, 8, 8, 12, 12]

print(f"Are list1 and list2 circularly identical: {are_circularly_identical(list1, list2)}")
print(f"Are list1 and list3 circularly identical: {are_circularly_identical(list1, list3)}")

Are list1 and list2 circularly identical: True
Are list1 and list3 circularly identical: False

# 22

In [22]:
list = [2,4,56,78,4,34,5,8,9]
list.sort()
print("second smallest number:",list[1])

second smallest number: 4

# 23

In [24]:
list = [82,4,56,78,4,34,5,100,9]
list.sort()
print("second largest number:",list[-2])

second largest number: 82

# 24

In [27]:
import collections

list = [10, 30, 50, 10, 20, 60, 20, 60, 40, 40, 50, 50, 30]

list1 = collections.Counter(list)
print(list1)

Counter({50: 3, 10: 2, 30: 2, 20: 2, 60: 2, 40: 2})

# 25

In [ ]:
l = [ 82,4,10,56,78,4,34,5,10,9]
s = set(l)
new_list = list(s)
print(new_list)

# 26

In [44]:
n=int(input("please enter your n value:"))
list = []
for i in range(1,n+1):
    
    list1 = [f"'T'{i},'J'{i}"]
    list = list+list1
print(list)

please enter your n value:10
["'T'1,'J'1", "'T'2,'J'2", "'T'3,'J'3", "'T'4,'J'4", "'T'5,'J'5", "'T'6,'J'6", "'T'7,'J'7", "'T'8,'J'8", "'T'9,'J'9", "'T'10,'J'10"]

# 27

In [56]:
x = 30
print("Unique identification of x is:",format(id(x),'x'))
s = "Tutor Joes"
print("Unique identification of s is:",format(id(s),'x'))

Unique identification of x is: 7ffb2b8796c8
Unique identification of s is: 178035a0270

# 28

In [58]:
list1 = [23,45,67,78,89,34]

list2 = [34,89,55,56,39,67]
list3 = []
for i in list2:
    if i in list1:
        list3.append(i)
print("Common items between the lists is:",list3)

Common items between the lists is: [34, 89, 67]

# 29

In [59]:
from itertools import groupby
from operator import itemgetter
 
a = ["cat","dog","cow","tiger","lion","Fox","Shark","Snake","turtle","mouse","monkey","bear"]
 
for ltr, wds in groupby(sorted(a), key=itemgetter(0)):
    print(ltr)
    for w in wds:
        print(" ",w)
    print("")

F
  Fox

S
  Shark
  Snake

b
  bear

c
  cat
  cow

d
  dog

l
  lion

m
  monkey
  mouse

t
  tiger
  turtle

# 30

In [2]:
list = [1,2,4,3,6,7,5,8,9,7,8,9,10]
list1 = []
for i in list:
    if i%2!=0:
        list1.append(i)
print(list1)

[1, 3, 7, 5, 9, 7, 9]

# 31

In [1]:
list = [10, 20, 30, 50, 80, 70, 70, 80, 10]
list1 =set(list)
print("no.of unique items in the list is:",len(list1))

no.of unique items in the list is: 6

# 32

In [4]:
list = [2, 1, 2, 4, 6, 4, 3, 2, 1]
list1 = []
for i in list:
    if i not in list: 
        list1.append(i)
print(list1)

[]

# 33

In [7]:
import collections
list = [4, 6, 4, 3, 3, 4, 3, 7, 8, 8]
print(collections.Counter(list))

Counter({4: 3, 3: 3, 8: 2, 6: 1, 7: 1})

# 34

In [18]:
list = [4, 5, 6, 7, 3, 9, 11, 21]
print(list)
i = 2
j = 25
t=True
f=False
for num in list:
    if num> i and num<j:
        print("Does this list is between the range:",t)
        break
    else:
        print("Does this list is between the range:",f)
        break

[4, 5, 6, 7, 3, 9, 11, 21]
Does this list is between the range: True

# 35

In [1]:
a = [18, 18, 18, 6, 3, 4, 9, 9, 9]
l = len(a)
for i in range(l - 2):
    if a[i] == a[i + 1] and a[i + 1] == a[i + 2]:
        print(a[i])

18
9

# 36

In [2]:
n = 6
a1 = [10,20,30,20,30,400]
a2 = []
for i in range(1, n):
    r = max(a1[i], a1[i-1])
    a2.append(r)
for i in a2 :
    print(i,end=" ")

20 30 30 30 400

# 37

In [4]:
import itertools
list = [1,2,3]
print(itertools.permutations(list))

<itertools.permutations object at 0x000001E2B7B39580>

# 38

# 39

In [ ]:
import itertools
from itertools import permutations
l1 = ['A','B','C']
l2 = [1,2,3]
unique = []
permut = itertools.permutations(l1, len(l2))
for comb in permut:
    zipped = zip(comb, l2)
    unique.append(list(zipped))
 
print(unique)

# 40

In [ ]:
val = [1, 3, 4, 6, 5, 1]
a = 1
print ("Original list :" ,val)
c = val.count(a)
for i in range(c):
    val.remove(a)
print ("Remove operation :" , val)

# 41

In [ ]:
list = [('A', 'B', 'C', 'D'), ('B', 'C', 'C', 'I'), ('H', 'D', 'B', 'C'), ('C', 'C', 'G', 'F')]
print("Original List : " + str(list))
K = 'C'
res = [i for i in list if not any(i[j] == K and i[j + 1] == K for j in range(len(i) - 1))]
 
print("After Removal : " , res)

# 42

In [ ]:
a = ['Tutor Joes', 'Computer', 'Education']
b = [2 ,1 ,0 ,1 ,0 ,2 ,2 ,0 ,1 ,0 ,1 ,2]
print("List 1 : " , a)
print("List 2 : " , b)
res = [a[i] for i in b]
 
print ("After Index Elements Replacements is : " ,res)

# 43

In [ ]:
val = [(4, 5, 6, 5, 4), (4, 5, 3), (5, 5, 2), (3, 4, 9)]
print(val)
K = 5
N = 2
res = [e for e in val if e.count(K) == N]
 
print(res)

# 44

In [ ]:
s = ["Tutor","joes","Computer","Education"]
 
print("Before Swap :",s)
 
res = [sub.replace("joes","Joe's").replace("Computer", "Software").replace("Education", "Solutions") for sub in s]
 
print ("After Swap : ",res)

# 45

In [ ]:
val = ["Tutor","joes","Computer","Education"]
print ("Original list : ", val)

res = [i[::-1] for i in val]
print ("Reversed list : " , res)

print("Reversed list : " ,val[::-1])

# 46

In [ ]:
val = ['P', 'Y', 'T', 'H', 'O', 'N']
print("The original list : " + str(val))
 
res = [i if i == 'T' else '@' for i in val]
print("List after replacement : " + str(res))

# 47

In [ ]:
val = ["TjC","TjCpp","TjPython","Java"]
print("Original List : ",val)
sub = 'Tj'
res = 0
for e in val:
    if e.startswith(sub):
        res = res + 1
print ("Strings count with matching frequency : ",res)

# 48

In [ ]:
l = ["TjC","TjCpp","TjPython","Java","tj"]
print("The original list is : ",l)
pref = "Tj"
 
res = []
for val in l:
    if val.startswith(pref):
        res.append([val])
    else:
        res[-1].append(val)
print("Prefix Split List : " + str(res))

# 49

In [ ]:
val = ['P', 'Y', 'T', 'H', 'O', 'N']
print("The original list : " + str(val))
 
res = [i if i == 'T' else '@' for i in val]
print("List after replacement : " + str(res))

# 50

In [ ]:
val = ["TutorJoes", "ComputerEducations"]
print("Original list : " ,val)
 
res = []
for i in val:
    t = [[]]
    for ch in i:
        if ch.isupper():
            t.append([])
        t[-1].append(ch)
    res.append(' '.join(''.join(i) for i in t))
 
print("The space added list of strings : " , res)